<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
  <ion-title>Leader Page</ion-title>
  <ion-buttons start>
    <button>
      <ion-icon primary name="contact"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button (click)="logout()">
      <ion-icon danger name="log-out"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>
  <ion-list no-lines>
    <ion-item-group>
      <div *ngFor="#section of leaves">
        <div *ngIf="section.leavesSublist.length > 0">
          <ion-item-divider light>{{section.title | uppercase}}</ion-item-divider>
          <ion-item text-wrap *ngFor="#leave of section.leavesSublist">
            <h2>{{leave.date | date: 'dd/MMM/yyyy'}}</h2>
            <div item-right>
              <button large clear danger (click)="rejectLeave(leave)" [disabled]="leave.rejected || leave.revoked">
                <ion-icon name="close-circle"></ion-icon>
              </button>
              <button large clear primary (click)="approveLeave(leave)" [disabled]="leave.approved || leave.revoked">
                <ion-icon name="checkmark-circle"></ion-icon>
              </button>
            </div>
            <p>{{leave.reason}}</p>
          </ion-item>
        </div>
      </div>
    </ion-item-group>
  </ion-list>
  <ion-fixed class="fixed-div">
    <button fab primary fab-bottom fab-right (click)="showFilter()">
      <ion-icon name="options" is-active="false"></ion-icon>
    </button>
  </ion-fixed>
</ion-content>